# Virtual environment
/venv
venv/

# Environment secrets
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
