fastapi
uvicorn
pandas
numpy==1.26.4
python-multipart
openpyxl
joblib
scikit-learn
requests
openai
python-dotenv
sqlalchemy
bcrypt>=4.0
psycopg2-binary
pgvector
pinecone
google-api-core
grpcio
pinecone-client
httpx
nltk
hdbcli
langchain-openai
google-cloud-secret-manager
xmltodict
pydantic
gunicorn
asyncpg
cryptography
