fastapi
uvicorn
pandas
numpy==1.26.4
python-multipart
openpyxl
joblib
scikit-learn
requests
openai
python-dotenv
sqlalchemy
bcrypt>=4.0
chromadb
httpx
nltk
langchain-openai
xmltodict
pydantic
gunicorn
cryptography
