fastapi
uvicorn
pandas
numpy==1.26.4
python-multipart
openpyxl
joblib
scikit-learn
requests
openai
python-dotenv
sqlalchemy
bcrypt>=4.0
pinecone
google-api-core
grpcio
httpx
nltk
langchain-openai
google-cloud-secret-manager
xmltodict
pydantic
gunicorn
cryptography
